* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5f7fa;
    color: #333;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #0a2540;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #0a2540;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: auto;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-left: auto;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: #0a2540;
    width: 180px;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }
}

.logo {
    font-size: 28px;
}
.logo span {
    color: #38bdf8;
}

.hero {
    text-align: center;
    margin-top: 40px;
}

.hero img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid #87d1f0;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background: #38bdf8;
    color: black;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.pro_title{
    display: flex;
}

.pro_git{
    display: flex;
    margin-right: 15px;
    text-decoration: none;
    color: #38bdf8;
    font-weight: bold;
}

.pro_resume{
    display: flex;
    margin-right: 15px;
    text-decoration: none;
    color: #38bdf8;
    font-weight: bold;
}

section {
    padding: 60px 10%;
}

section h2 {
    margin-bottom: 20px;
    color: #111827;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skills-grid span {
    background: #06215a;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

.project-card {
    background: white;
    padding: 20px;
    padding-left: 50px;
    margin-bottom: 15px;
    border-left: 5px solid #38bdf8;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.social {
    margin-top: 20px;
    text-align: center;
}

.social a {
    font-size: 32px;
    color: #333;
    margin-right: 15px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.social a:hover {
    color: #0077b5; 
}

html {
  scroll-behavior: smooth;
}

.blink-once {
  animation: blinkOnce 1s ease-in-out;
}

@keyframes blinkOnce {
  0% {
    background-color: rgba(0, 0, 0, 0.529);
  }
  100% {
    background-color: transparent;
  }
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    color: white;
}
